@use "@styles/abstracts/utils";
@use "@styles/abstracts/variables";

.dcc-translation {
  width: 100%;

  &__ticker {
    padding: utils.toRem(16px);

    @media #{variables.$screen-md} {
      padding: utils.toRem(32px);
    }

    @media #{variables.$screen-lg} {
      padding: utils.toRem(48px);
    }
  }

  &__grid {
    :global([class*="card-grid--three-column"]) {
      gap: utils.toRem(12px);

      & > * {
        height: auto;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: utils.toRem(8px);

    margin: 0;
    padding-left: utils.toRem(24px);

    color: var(--color-text);

    li {
      padding-left: utils.toRem(4px);

      &::marker {
        color: var(--color-text);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    gap: utils.toRem(12px);

    > :global([class*="roboto-large"]) {
      &:not(:first-child) {
        margin-top: utils.toRem(16px);
      }
    }
  }

  &__video-container {
    padding-top: utils.toRem(80px);

    @media #{variables.$screen-md} {
      padding-top: utils.toRem(112px);
    }

    @media #{variables.$screen-lg} {
      padding-top: utils.toRem(128px);
    }
  }

  &__ticker {
    padding: utils.toRem(16px);

    @media #{variables.$screen-md} {
      padding: utils.toRem(32px);
    }

    @media #{variables.$screen-lg} {
      padding: utils.toRem(48px);
    }
  }

  &__grid {
    :global([class*="card-grid--three-column"]) {
      gap: utils.toRem(12px);

      & > * {
        height: auto;
      }
    }
  }
}
