$font-family-primary: "Inter Tight", "Roboto Mono", arial;
$font-family-secondary: "Roboto Mono", arial;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-base: 16px;
