@use "@styles/base/typography";
@use "@styles/abstracts/utils";
@use "@styles/abstracts/variables";

@mixin heading-title {
  @include typography.section-title-large();
  line-height: utils.toRem(58px);

  @media #{variables.$screen-md} {
    @include typography.heading-2();
  }

  @media #{variables.$screen-lg} {
    @include typography.heading-1();
  }
}

@mixin banner-heading {
  font-size: utils.toRem(64px);
  line-height: utils.toRem(64px);

  @media #{variables.$screen-md} {
    font-size: utils.toRem(80px);
    line-height: utils.toRem(72px);
  }

  @media #{variables.$screen-lg} {
    margin-top: utils.toRem(52px);
    font-size: utils.toRem(96px);
    line-height: utils.toRem(88px);
  }
}

@mixin adjust-topbar-sizing($small, $medium) {
  margin-top: utils.toRem($small);

  @media #{variables.$screen-md} {
    margin-top: utils.toRem($medium);
  }
}
