@use "@styles/abstracts/variables";

:root {
  color-scheme: dark;

  // Background
  --color-background: #{variables.$black};

  // Text
  --color-text: #{variables.$white};
  --color-text-secondary: #{variables.$grey-300};
  --color-text-tertiary: #{variables.$grey-600};
  --color-text-inverse: #{variables.$black};
  --color-text-link: #{variables.$white};

  // Cards
  --color-card: #{variables.$grey-800};
  --color-card-hover: #{variables.$grey-700};
  --color-border: rgba(255, 255, 255, 0.24);

  // Buttons CTA
  --color-button: #{variables.$white};
  --color-button-secondary: #{variables.$black};
  --color-button-alpha: rgba(15, 15, 15, 60%);
  --color-button-text: #{variables.$black};
  --color-button-text-secondary: #{variables.$white};
  --color-button-text-hover: #{variables.$white};

  // Tags
  --color-tag: #{variables.$white};
  --color-tag-secondary: #{variables.$black};
  --color-tag-border: rgba(255, 255, 255, 0.24);
  --color-tag-alpha: rgba(15, 15, 15, 60%);
  --color-tag-text: #{variables.$black};
  --color-tag-text-secondary: #{variables.$white};
  --color-tag-text-hover: #{variables.$white};

  // Status Indicator
  --color-dot: #{variables.$white};
  --color-dot-background: #{variables.$grey-500};

  // Border
  --color-border: rgba(255, 255, 255, 0.24);

  // Icons
  --color-icon: #{variables.$white};
  --color-icon-inverse: #{variables.$black};

  // Accents
  --color-accent: #{variables.$red};
  --color-accent-alpha: rgba(255, 34, 0, 0.48);

  // Tint
  --color-black: #{variables.$black};
  --color-white: #{variables.$white};

  // Materials
  --color-glass: rgba(0, 0, 0, 0.36);
  --color-transparent: rgba(0, 0, 0, 0);
}
