@use "@styles/abstracts/utils";

.card-story-container {
  width: utils.toRem(480px);

  &--project {
    width: utils.toRem(582px);
    height: utils.toRem(582px);
  }

  &--square {
    width: utils.toRem(480px);
    height: utils.toRem(480px);
  }

  &--colophon {
    width: utils.toRem(480px);
    height: utils.toRem(320px);
  }

  &--award {
    width: utils.toRem(720px);
    height: utils.toRem(96px);
  }

  &--playground-image {
    width: utils.toRem(480px);
    height: utils.toRem(480px);
  }

  &--playground-video {
    width: utils.toRem(480px);
    height: utils.toRem(320px);
  }
}
