@use "@styles/abstracts/utils";
@use "@styles/abstracts/variables";

.tech-stack-grid {
  display: flex;
  flex-direction: column;
  gap: utils.toRem(12px);

  &__title {
    margin-bottom: utils.toRem(16px);
  }

  &__featured,
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: utils.toRem(12px);
  }

  &__featured {
    > * {
      aspect-ratio: 1 / 1;
    }

    @media #{variables.$screen-md} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{variables.$screen-lg} {
      min-height: utils.toRem(384px);

      > * {
        aspect-ratio: 2 / 1;
      }
    }

    @media #{variables.$screen-xl} {
      min-height: utils.toRem(444px);
    }
  }

  &__items {
    > * {
      aspect-ratio: 1 / 1;
    }

    @media #{variables.$screen-md} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media #{variables.$screen-lg} {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
