@use "@styles/abstracts/utils";

.theme-toggle {
  position: relative;

  &:focus-visible {
    outline: utils.toRem(2px) solid var(--color-text);
    outline-offset: utils.toRem(4px);
    border-radius: utils.toRem(8px);
  }
}
